<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="song.type.night.mapper.OrderMapper">

<insert id="insertOrder" parameterType="song.type.night.vo.Order">
	insert into orders values(null, #{iid}, #{date}, #{amount}, #{uid})
</insert>

<select id="selectOrder" parameterType="song.type.night.vo.Order" resultType="hashmap">
	select i.name as name, 
	i.price as price,
	sum(o.amount) as amount, 
	o.date as date,
	i.img as img
	from orders o, item i 
	where o.uid=#{uid} and o.iid=i.iid and o.date >= #{start} and #{end} >= o.date
	group by date, i.iid
	order by date desc
</select>

</mapper>